-- Example 0
2
.....1..1..
..1.....1..

70
-- Example 1
5
...1.
.....
.1..1
.....
1....

73
-- Example 2
4
...1.
.1...
..1.1
1....

20
-- Example 3
5
.....1...
.....1...
111111111
.....1...
.....1...

117
