-- Example 0
3
NYN
YNY
NYN
3
NYY
YNN
YNN

2
-- Example 1
5
NYNNN
YNYYY
NYNYY
NYYNY
NYYYN
5
NYNNN
YNYNN
NYNYN
NNYNY
NNNYN

12
-- Example 2
6
NYNNNY
YNYNNN
NYNYNN
NNYNYN
NNNYNY
YNNNYN
6
NYNNYN
YNNYNY
NNNNYN
NYNNNN
YNYNNN
NYNNNN

0
-- Example 3
6
NYNNYN
YNNYNY
NNNNYN
NYNNNN
YNYNNN
NYNNNN
6
NNNYYN
NNYNNN
NYNNYY
YNNNNN
YNYNNN
NNYNNN

2
-- Example 4
9
NYNNNYNNY
YNNNNNNYN
NNNNYYNYY
NNNNNYNNY
NNYNNNYNY
YNYYNNNYN
NNNNYNNYN
NYYNNYYNN
YNYYYNNNN
9
NNYNNNYYN
NNNNYNNNN
YNNNNNNNN
NNNNNNYNN
NYNNNNNYY
NNNNNNNNY
YNNYNNNNN
YNNNYNNNN
NNNNYYNNN

90
